script(src="//dec-ce.bitbucket.org/gef/pattern-library/assets/js/vendor/require.js" data-main="//dec-ce.bitbucket.org/gef/pattern-library/assets/js/main.js" data-site-config-path="" type="text/javascript")