doctype html
html(lang="en")
  head
    title!= title + ' ' + sitename
    meta(name='description' content=description)
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='../styles/styles.css')
