include _head

body
  include _doe-header


  div.uk-container.uk-container-center
    div.uk-grid

      include _header

      article.pl-article.uk-width-large-7-10(data-gef-external-link-tagger)
        header.pl-highlighted
          h1!= display_title

          div.lead
            p!= description


          p.pl-capitalise Available in:&nbsp;
            span.pl-pills!= available

        div.pl-contents

          div.content!= contents


include _footer