include _head

body
  include _doe-header

  div.uk-container.uk-container-center
    div.uk-grid

      include _header

      article.pl-article.uk-width-large-7-10(data-gef-external-link-tagger)
        header
          h1!= title

        div.pl-contents
          div.contents!= contents

include _footer






